<%= form_with(model: house ) do |f| %>
  <div class="field">
    <%= f.label 'House name' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions mt-2">
    <%= f.submit class: blue_btn%>
    <%= link_to 'Back', houses_path, class: green_btn if house.persisted? %>

  </div>
<% end %>

