
<div >
    <% if @house.persisted? %>
       <div class="house__container">
         <%= render @house %>
         <%= link_to '', edit_house_path(@house), class: edit_btn %>
       </div>
         <% if current_user.active_game? %>
           <%=  link_to 'Create Game', house_path(@house), class: green_btn  %>
         <% else %>
           <%= link_to 'Go to your game', game_path(current_user.game) %>
         <%end %>
    <% else %>
      <%= render 'form', house: @house %>
    <% end %>
</div>


