
<div class="house__container">
    <% if @house %>
      <%= render @house %>
      <%= link_to '', edit_house_path(@house), class: edit_btn %>
    <% else %>
      <%= render 'form', house: @new_house %>
    <% end %>
</div>

  <% if current_user.not_active_game? %>
    <%=  link_to 'Create Game', house_path(@house), class: green_btn  %>
  <% else %>
    <%= link_to 'Go to games', games_path %>
  <% end %>

