Clickea para q no jueguen:

<%= form_with model: @game do |form| %>
      <%= form.fields_for :players do |f| %>
        <li>
          <%= f.check_box :_destroy %>
          <%= f.label f.object.user.nickname %>
          <%= f.hidden_field :user_id, value: f.object.user_id %>
        </li>
      <% end %>

  <%= form.submit class: blue_btn %>
<% end %>