<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-4">
    <% if user_signed_in? %>
      <div class="d-flex">
        <%= link_to current_user.nickname, edit_user_registration_path, class: 'navbar-brand' %>
        <%= link_to 'Games', games_path, class: 'navbar-brand' %>
        <%= link_to 'House', houses_path, class: 'navbar-brand' %>
        <%= link_to 'Statistics', statistics_path, class: 'navbar-brand' %>

      </div>
      <div>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
      </div>
    <%else %>
      <%= link_to 'Home', root_path, class: "navbar-brand"  %>
      <div class="d-flex nav__container--session justify-content-between">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <%= render 'devise/sessions/session' %>
          </ul>
        </div>

        <%= link_to 'Registration', new_user_registration_path, class: 'btn btn-primary'%>
      </div>
    <% end %>

  </div>
</nav>
