<div class="card" id="<%= dom_id player %>" style="width: 18rem;">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title"><%= player.position%></h5>
      <h5 class="card-title px-3"><%= player.user.nickname%></h5>
      <%= render 'players/heal', id: player.id  %>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <%= render 'players/damage_to', id: player.id %>
          <%= render 'players/damage_to_enemies', id: player.id %>
        </div>
        <div class="col">
           <p class="px-3 lives"><%= player.lives %> </p>
        </div>
      </div>
    </div>

  </div>
</div>