<div class="card" id="<%= dom_id player %>" style="width: 18rem;">
  <div class="card-body">

    <% if player.winner %>
      <h2><%= player.nickname %> WON!!!!</h2>
      <div style="width:100%;height:0;padding-bottom:59%;position:relative;"><iframe src="https://giphy.com/embed/CYFzxzmE2oDkI" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/animation-street-fighter-insert-coin-CYFzxzmE2oDkI">via GIPHY</a></p>
      <% else %>

      <div class="d-flex align-items-center">
        <h5 class="card-title"><%= player.position%></h5>
        <h5 class="card-title px-3"><%= player.nickname%></h5>
        <%= render 'players/heal', id: player.id unless player.died? %>
      </div>

      <div class="container">
        <div class="row">
          <% if player.died? %>

          <div class="col d-flex align-items-center justify-content-between p-0">
              <p class="lives text-secondary">
            <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/O9gUF8fJXgOZy" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/street-fighter-O9gUF8fJXgOZy">via GIPHY</a></p>
<!--                <i class="fa-sharp fa-solid fa-ghost"></i>-->
              </p>
          </div>
          <% else %>
            <div class="col d-flex align-items-center justify-content-between p-0">
              <%= render 'players/damage_to', id: player.id %>
            </div>
          <div class="col text-center">
              <p class="px-3 lives text-primary"><%= player.lives %> </p>
          </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>